body {
    background-color: #374151;
    color: #FFFFFF;
    font-family: roboto, sans-serif;
}

input {
    background-color: #1F2937;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.logo {
    font-size: 18px;
}

::placeholder,
.footer {
    font-size: 16px;
    opacity: 0.6;
}

.author {
    line-height: 28px;
}

.author-name {
    font-size: 16px;
}

.date-front,
.author-post {
    font-size: 14px;
    opacity: 0.6;
}

h2 {
    font-size: 24px;
    line-height: 38px;
}

.paragraph-first {
    font-size: 20px;
    line-height: 32px;
}

.paragraph-second {
    font-size: 16px;
    line-height: 30px;
}