* {
    box-sizing: border-box;
    color: #050038;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 60px;
    border-bottom: 1px solid #d8d2d2;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 200px;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 33px 50px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 33px;
    list-style: none;
}

nav a {
    font-size: 16px;
    line-height: 24px;
    color: #050038;
    text-decoration: none;
}

/* Первая секция */

.firstSection {
    display: flex;
    gap: 60px;
}

.leftColumn {
    display: flex;
    flex-direction: column;
}

.heroImage {
    display: flex;
    height: 461px;
    width: 604px;
}

.heroText {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
    gap: 17px;
}

.heroText h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
}

.heroText p {
    font-size: 18px;
    line-height: 24px;
}

.heroForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 8px;
}

.heroForm input {
    height: 48px;
    border: 1px solid #9B99AF;
    border-radius: 32px;
    padding: 14px;
    font-size: 18px;
}

.heroForm button {
    height: 51px;
    border: 1px solid #4262FF;
    border-radius: 32px;
    background-color: #4262FF;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
}

.heroTextSecond p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 52px;
}

.heroUsers {
    display: flex;
    align-items: center;
    gap: 20px;
}

.firmImage {
    display: flex;
    gap: 19px;
}

/* Вторая секция */