* {
    color: #050038;
    font-family: Roboto;
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #F0F0F0;
}

h1,
h2 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 60px 0 17px 40px;
}

.firstSection p {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 55px 40px;
    width: 424px;
    height: 48px;
}

#email {
    width: 440px;
    height: 48px;
    padding: 0;
    margin-left: 40px;
    border-radius: 32px;
    border: 1px solid #9B99AF;
}

#heroButton {
    width: 440px;
    height: 51px;
    padding: 0;
    margin: 10px 0 8px 40px;
    background-color: #4262FF;
    border-radius: 32px;
    border: 1px solid #4262FF;
}

#heroButton span {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
}

.noCard {
    font-size: 14px;
    line-height: 20px;
    margin-left: 40px;
}

.numberUsers {
    margin: 52px 20px 50px 40px;
}

.companyImg img {
    margin-right: 20px;
}

.secondSection p {
    margin: 19px 18px 39px 40px;
    opacity: 0.6;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 436px;
    height: 120px;
}

.link {
    color: #4262FF;
    font-size: 18px;
    line-height: 24px;
    margin-left: 40px;
}

.anyinstrumentImg {
    margin-left: 40px;
}

.finalySection p {
    margin: 19px 18px 39px 40px;
    opacity: 0.6;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 429px;
    height: 120px;
}

.sectionList {
    list-style: none;

    /* list-style: url(../img/Frame.jpg); */
}

#footer {
    background-color: #050038;
    height: 117px;
}

footer a,
.miroCopy {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}