* {
    color: #050038;
    font-family: Roboto;
    box-sizing: border-box;
    margin: 0;
}

main {
    margin-left: 40px;

}

header {
    margin-bottom: 60px;
    border-bottom: 1px solid #050038;
}

/* Навигация */

nav {
    padding: 33px 50px;
}

nav a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    padding-right: 34px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

/* Первая секция */

.firstSection {
    display: inline-block;
    margin-bottom: 214px;
}

.heroCount {
    float: left;
    width: 440px;
}

.heroImage {
    float: right;
}

.firstSection h1 {
    display: inline-block;
    margin: 0 0 17px 0;
    text-align: left;
    /* font-size: 48px; */
    font-size: 4vw;
    line-height: 56px;
    font-weight: 400;
    width: 285px;
}

.heroText {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 55px 0;
    width: 424px;
}

.firstSection input {
    display: inline-block;
    width: 440px;
    height: 48px;
    border: 1px solid #9B99AF;
    border-radius: 32px;
    margin-bottom: 69px;
    padding: 10px 10px 10px;
}

.heroForm {
    position: relative;
}

.firstSection button {
    display: inline-block;
    width: 440px;
    height: 51px;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid #4262FF;
    border-radius: 32px;
    background-color: #4262FF;
    color: #ffffff;
    padding: 10px 145px 14px 130px;
    position: absolute;
    top: 58px;
    left: 0;
}

.firstSection button:hover {
    background-color: #2d48d3;
}

.firstSection button:active {
    background-color: #233bb2;
}

.secondText {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
}

.numberCount,
.firmImage {
    display: inline-block;
}

.numberCount {
    margin-right: 20px;
}

.numberUsers {
    position: relative;
    height: 40px;
    padding: 10px 10px 10px 0;
}

.firmImage {
    position: absolute;
    top: 1px;
}

.firmImage img {
    margin-right: 20px;
}

/* Вторая секция */

.secondSection {
    display: inline-block;
    margin-bottom: 120px;
    height: 535px;
}

.heroSecondCount {
    float: left;
}

.heroSecondImage {
    float: right;
    width: 550px;
    height: 535px;
}

.secondSection h2,
.finalySection h2 {
    margin: 82px 0 19px 0;
    text-align: left;
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    width: 458px;
}

.heroSecondText {
    margin-bottom: 39px;
    width: 430px;
    opacity: 0.6;
}

.link {}

.secondSection {}

/* Третья секция */

.finalySection {
    display: inline-block;
    margin-bottom: 94px;
}

.heroFinalyImage {
    float: left;
}

.heroFinalyCount {
    float: right;

}

/* Последняя секция */

.lastSection {
    display: inline-block;
}

/* Эксперементальная секция */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 50px;
    width: 1000px;

}

.items {
    background-color: #2d48d3;
    flex-basis: 400px;
}

.item1 {
    flex-grow: 1;
}

.item2 {
    flex-grow: 3;
}