* {
    background-color: #FFFFFF;
    color: #050038;
    font-family: Roboto;
}

header a {
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

h1,
h2 {
    color: #050038;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1px;
    font-weight: 400;
}

p {
    font-size: 18px;
    line-height: 24px;
}

.link {
    color: #4262FF;
    font-size: 18px;
    line-height: 24px;
}

.link:hover {
    color: #1331cb;
}

#heroButton:hover {
    background-color: #1331cb;
}

#heroButton:active {
    background-color: #051fa1;
}

.heroForm input:focus {
    background-color: aqua;
}


p:not(.paragraphSecond) {
    color: red
}

.paragraphSecond {
    opacity: 0.6;
}

.numberUsers {
    color: #050038;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
}

footer a {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

#heroButton {
    background-color: #4262FF;
    color: #FFFFFF;
}

.heroForm+p {
    font-size: 14px;
    line-height: 20px;
}