* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: #F39494;
    margin: 0;
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
    margin-bottom: 22px;
}

button {
    background-color: #089FE0;
    color: #FFFFFF;
    font-size: 18px;
    width: 394px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin: 0 0 22px 0;
}

.formAuth {
    padding: 72px 94px 91px 94px;
    background-color: #FFFFFF;
    margin: 225px 0 0 0;
    height: 573px;
    border-radius: 10px;
}

.account {
    font-size: 18px;
    line-height: 100%;
    color: #666666;
    margin-right: 6px;
}

.auth {
    margin: 0 0 47px 0;
}

.auth a {
    color: #089FE0;
}


.userDate input {
    background-color: #F5F5F5;
    width: 394px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-bottom: 22px;
}

.userDate input:focus {
    border: 1px solid #F5F5F5;
    background-color: #FFFFFF;
    outline: none;
    font-weight: 700;
}

.userDate input:focus::placeholder {
    color: transparent;
}

.userDate input:not(:placeholder-shown) {
    font-weight: 700;
}

.name input {
    width: 197px;
}

.name input[name="name"] {
    float: left;
}

.userDate input::placeholder {
    color: #999999;
    font-size: 16px;
    font-style: italic;
    padding: 9px;
}

.registration img {
    float: right;
    margin-right: 22px;
}

.rulesAgreement label {
    color: #666666;
    font-size: 14px;
    line-height: 100%;
}

.rulesAgreement a {
    color: #089FE0;
    text-decoration: none;
    margin-left: 4px;
}

.checkbox input {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background-color: #F5F5F5;
    cursor: pointer;
    margin: 0;
    margin-right: 4px;
}

.checkbox input:checked {
    background-image: url(../img/checkbox.svg);
}