* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    background-color: #F39494;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333333;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

form input {
    gap: 22px;
}

input,
button {
    padding: 9px 0px 9px 11px;
    width: 394px;
    height: 44px;
    font-style: italic;
    color: #999999;
}

.formAuth {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 582px;
    padding: 72px 94px 91px 94px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.auth {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 9px;
    margin: 0 0 47px 0;
    align-items: baseline;
}

.account {
    font-size: 18px;
    line-height: 26px;
    color: #666666;
}

.inputArea {
    margin: 0 0 22px 0;
    display: flex;
    flex-flow: column;
    gap: 22px;
}

.name {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.name input {
    width: 100%;
}

.inputArea input {
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.inputArea input:focus {
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    font-style: italic;
    color: #333333;
    font-weight: 600;
    outline: none;
}

.inputArea input:not(:placeholder-shown) {
    font-style: normal;
    font-weight: 600;
}

.inputArea input:not(:focus):not(:placeholder-shown) {
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    font-style: normal;
    color: #333333;
    font-weight: 600;
}

.buttonRegistration {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 100%;
    position: relative;
    background-color: #089FE0;
    border: 1px solid #089FE0;
    color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 22px;
}

.arrow {
    position: absolute;
    right: 24px;
}

.buttonRegistration:hover {
    background-color: #0da9ec
}

.buttonRegistration:focus {
    outline: none;
}

.agreement {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4px;
}

.agreement input {
    height: 16px;
    width: 16px;
    background-color: #F5F5F5;
    border: 1px solid #EEEEEE;
}

.agreementRules a {
    font-size: 14px;
    color: #666666;
    margin-left: 10px;
    color: #089FE0;
}