* {
    font-family: Open Sans, Arial, Helvetica, Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F39494;
    margin: 0;
}

h1 {
    color: #333333;
    font-size: 36px;
    line-height: 100%;
    margin: 0;
    padding: 72px 0 0 0;
}

button {
    background-color: #089FE0;
    color: #FFFFFF;
    font-size: 18px;
    width: 394px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

::placeholder {}

.account {
    font-size: 18px;
    line-height: 100%;
    color: #666666;
    margin-right: 6px;
}

.auth a {
    color: #089FE0;
}

.formAuth {
    background-color: #FFFFFF;
    margin: 225px 0 0 0;
    height: 573px;
}

.userDate input {
    background-color: #F5F5F5;
    width: 394px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.userDate input[:placeholder] {
    color: #999999;
    font-size: 16px;
    font-style: italic;
    padding: 9px 0 9px 11px;
}