* {
    font-family: roboto, sans-serif;
    color: #FFFFFF;
    background-color: #374151;
}

.logo {
    background-color: #4B5563;
    width: 35px;
    height: 35px;
    border-radius: 3px;
}

header>a {
    font-size: 18px;
    text-decoration: none;
}

.nav-list a,
.nav-list ul {
    text-decoration: none;
    font-size: 16px;
    list-style-type: none;
}

input[placeholder="Поиск"] {
    font-size: 16px;
    opacity: 0.6;
}

form input {
    background-color: #1F293799;
    width: 224px;
    height: 40px;
    border-radius: 100px;
}

.date-front,
.author-post {
    font-size: 14px;
    opacity: 0.6;
    text-align: center;
}

.author-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 400;
    text-align: center;
}

.author-name {
    font-size: 16px;
    line-height: 28px;
}

.main-image {
    width: 896;
    height: 594;
    top: 397px;
    left: 272px;
    border-radius: 5px;
}

.paragraph-first {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%;
}

.paragraph-second {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
}

.footer {
    font-family: Roboto;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    opacity: 0.6;
    text-align: center;
}